.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-div {
  /* position: relative; */
  /* width: 100%; */
  height: 700px !important;
  /* overflow: hidden; */
  /* pointer-events: auto; */
  
  

}

.card {
  position:absolute;
  align-items: center;
  width: 100%; /* 카드의 폭을 콘텐츠에 맞춰 확장 */
  height: auto; /* 카드의 높이도 자동으로 맞춤 */
  overflow: visible; /* 카드 내부 콘텐츠가 잘리지 않도록 */
  object-fit: contain;
  padding:1px;
}


